@keyframes submitani {
    0% {
      left: 62vh;
    }
    50% {
      left: 62.5vh;
    }
    100% {
      left: 62vh;
    }
}

body{
    background-color: #05020B;
}

#flexcontainer{
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
#home{
    position: absolute;
    width: 70vw;
    top: 10vh;
    left: 10vh;
}
#homewelcome{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(4vh + 2.25vw);
    font-weight: 700;
    color: #814DE5;
    line-height: 144%;
    letter-spacing: 0.02em;
    position: absolute;
    margin: 0;
    top: 6vh;
    opacity: 0;
}
#homewelcometitle{
    color: #CAAEFF;
}
#homeheader{
    font-family: 'Montserrat', sans-serif;
    font-size: calc(4vh + 2.25vw);
    font-weight: 700;
    color: #814DE5;
    line-height: 144%;
    letter-spacing: 0.02em;
    position: absolute;
    margin: 0;
    top: 12vh;
    opacity: 0;
}
#homeheaderappln{
    color: #CAAEFF;
}
#logo{
    position: absolute;
    margin: 0;
    top: 13vh;
    opacity: 0;
    left: calc(100vw - 22.5vh);
    transform: scale(0.9);
}

#email{
    position: absolute;
    width: 70vw;
    top: 68vh;
    left: 10vh;
    opacity: 0;
}
#emailtext{
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    font-weight: 500;
    color: #814DE5;
    line-height: 144%;
    letter-spacing: 0.02em;
    margin-left: 1vh; 
}
#emailinput{
    position: absolute;
}
#emailinputbox{
    width: 70vh;
    height: 10vh;
    font-family: Montserrat, sans-serif;
    font-size: 2.5vh;
    font-weight: 600;
    padding-left: 3vh;
    color: #CAAEFF;
    box-sizing: border-box;
    border-width: 0.4vh;
    border-style: solid;
    border-color: rgba(129, 77, 229, 0.3);
    border-radius: 2vh;
    outline: none;
    background: transparent;
}
#emailinputbox::placeholder {
    color: #CAAEFF;
    opacity: 0.3;
  }
#submit{
    position: absolute;
    top: 3.25vh;
    left: 62vh;
    background: transparent;
    border: transparent;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    outline: none;
    transition: left 1s ease-in-out;
    opacity: 0.3;
}
#emailinputbox:focus {
    border-color: #814DE5;
}
#emailinputbox:focus + button{
    animation: submitani 1s infinite;
    opacity: 1;
}

#videocontainer{
    position: absolute;
    width: calc(100vw - 44vh);
    top: 104vh;
    left: 10vh;
    opacity: 0;
    padding: 12vh;
    background-color: #814DE50D;
    border: 0.5vh solid #814DE51A;
    border-radius: 4vh;
    outline: none;
}
#video{
    border-radius: 4vh;
    outline: none;
}
#icons{
    position: absolute;
    text-align: center;
    width: 100vw;
    top: 228vh;
    padding-bottom: 10vh;
    opacity: 0;
}
